<%- include("templates/header", { username: username }) %>

<a
  href="/home_page"
  class="absolute top-5 left-5 bg-blue-500 text-white px-3 py-2 rounded-lg hover:bg-blue-700"
>
  Back
</a>

<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-2xl font-bold">Current Pet</h1>
  <!-- Pet Image -->
  <div
    class="w-[320px] h-[160px] pb-48 bg-no-repeat bg-left-top pet-inv animate-idle z-50"
    style="background-image: url('/sprite_sheets/<%= current_pet_name %>.png')"
  ></div>

  <!-- Inventory Grid -->
  <div class="relative w-full max-w-xs bg-gray-200 p-4 rounded-lg">
    <h1 class="text-2xl font-bold text-center mb-4">Pets Owned</h1>
    <div class="relative grid grid-cols-2 gap-4">
      <!-- Example Items -->
      <% for (let i = 0; i < ownedPets.length; i++) { %>
      <div class="bg-white p-1 rounded-lg shadow-md text-center">
        <img
          src="/assets/icons/icon-<%= ownedPets[i].name %>.png"
          alt="Item 1"
          class="w-full h-24 object-cover mb-2"
          id="<%= ownedPets[i].name %>"
        />
      </div>
      <% } %>
      <!-- Template for a card. -->

      <!-- <div class="bg-white p-1 rounded-lg shadow-md text-center">
        <img
          src="path_to_item1.jpg"
          alt="Item 1"
          class="w-full h-24 object-cover mb-2"
        />
      </div> -->
    </div>
  </div>

  <!-- An inventory for all the items owned -->
  <div></div>
</div>
<br /><br /><br />
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const ownedPets = <%- JSON.stringify(ownedPets) %>;

    for (let i = 0; i < ownedPets.length; i++) {
      const pet = document.getElementById(ownedPets[i].name);

      pet.addEventListener("click", () => {
        const newPetId = ownedPets[i]._id;
        const newPetName = ownedPets[i].name;

        fetch("/update-pet", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ newPetId, newPetName }),
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              window.location.reload();
            } else {
              console.log(data.message);
            }
          })
          .catch((error) => {
            console.error("Error: " + error);
          });
      });
    }
  });

  
</script>
<%- include("templates/navbar") %>
