<%- include("templates/header") %>

  <a href="/home_page"
    class="absolute top-5 left-5 bg-light-coral text-white px-3 py-2 rounded-lg hover:bg-light-coral-700">
    Back
  </a>

  <div class="flex justify-center text-2xl font-bold text-gray-700 items-center w-full mt-3 mb-1">
    <img src="/assets/Favicon.png" class="w-6 h-auto">
    <span class="ml-2">
      <%= user.points %>
    </span>
  </div>

  <div class="flex flex-col justify-center h-screen">
    <div class="max-w-md w-full bg-white shadow-md rounded-lg p-6">
      <h1 class="text-2xl font-bold text-center mb-6">Pet Shop</h1>
      <div class="flex justify-center space-x-4 mb-6">
        <button onclick="filterItems('all')" class="bg-argentinian-blue text-white px-3 py-2 rounded-lg">All</button>
        <button onclick="filterItems('cosmetics')"
          class="bg-light-coral text-white px-3 py-2 rounded-lg">Cosmetics</button>
        <button onclick="filterItems('pets')" class="bg-light-coral text-white px-3 py-2 rounded-lg">Pets</button>
        <!-- <button onclick="filterItems('dlcs')" class="bg-light-coral text-white px-3 py-2 rounded-lg">DLCs</button> -->
      </div>
      <div id="itemsContainer" class="grid grid-cols-2 gap-4">
        <!-- Example Items -->
        <% for (let i = 0; i < costumes.length; i++) { %>
        <div class="item cosmetics bg-white p-4 rounded-lg shadow-md text-center">
          <img src="/assets/costumes/<%= costumes[i].name %>.png" alt="<%= costumes[i].name %>" class="w-full h-24 object-cover mb-2">
          <div class="flex items-center justify-center mb-2">
            <img src="/assets/Favicon.png" class="w-6 h-auto mr-1">
            <span class="price text-lg font-semibold ml-2"><%= costumes[i].cost %></span>
          </div>
          <button id='<%= costumes[i]._id.toString() %>' onclick="buyItem('<%= costumes[i]._id.toString() %>')"
            class="buy-button bg-argentinian-blue text-white px-3 py-2 rounded-lg">Buy</button>
        </div>
        <% } %>
        <% for (let i = 0; i < pets.length; i++) { %>
          <% if (pets[i]._id.toString() === ('664d3a5cfd6cca06e79cc641')) continue; %>
        <div class="item pets bg-white p-4 rounded-lg shadow-md text-center">
          <img src="/assets/icons/icon-<%= pets[i].name %>.png" alt="<%= pets[i].name %>" class="w-full h-24 object-cover mb-2">
          <div class="flex items-center justify-center mb-2">
            <img src="/assets/Favicon.png" class="w-6 h-auto mr-1">
            <span class="price text-lg font-semibold ml-2"><%= pets[i].cost %></span>
          </div>
          <button id='<%= pets[i]._id.toString() %>' onclick="buyPet('<%= pets[i]._id.toString() %>')"
            class="buy-button bg-argentinian-blue text-white px-3 py-2 rounded-lg">Buy</button>
        </div>
        <% } %>
        <!-- <div class="item dlcs bg-white p-4 rounded-lg shadow-md text-center">
          <img src="path_to_dlc1.jpg" alt="DLC 1" class="w-full h-24 object-cover mb-2">
          <div class="flex items-center justify-center mb-2">
            <img src="/assets/Favicon.png" class="w-6 h-auto mr-1">
            <span class="price text-lg font-semibold ml-2"> 10</span>
          </div>
          <button class="buy-button bg-argentinian-blue text-white px-3 py-2 rounded-lg">Buy</button>
        </div> -->
        <!-- Add more items with appropriate classes as needed -->
      </div><br><br>
    </div>
  </div>
  <%- include("templates/navbar") %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        fetchOwnedItems();
      });

      function fetchOwnedItems() {
        fetch('/get-owned-items')
          .then(response => response.json())
          .then(data => {
            // Creates a sub array of all owned items and removes the fox pet.
            const ownedItems = new Set(data.pets_owned.concat(data.costumes_owned));
            ownedItems.delete('664d3a5cfd6cca06e79cc641');
            // Iterates through every owned item and marks it as bought/sold out.
            ownedItems.forEach(item => {
              const itemObject = document.getElementById(item);
              itemObject.disabled = true;
              itemObject.textContent = 'Sold Out';
              itemObject.classList.remove('bg-argentinian-blue');
              itemObject.classList.add('bg-gray-700');
            }
            );
          });
      }

      function updateUserPoints() {
        fetch('/get-user-points')
          .then(response => response.json())
          .then(data => {
            document.getElementById('userPoints').textContent = data.points;
          })
          .catch(error => console.error('Error:', error));
      }

      function filterItems(category) {
        const items = document.querySelectorAll('.item');
        items.forEach(item => {
          if (category === 'all') {
            item.style.display = 'block';
          } else {
            item.style.display = item.classList.contains(category) ? 'block' : 'none';
          }
        });
      }

      function buyPet(itemId) {
        fetch('/buy-pet', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ itemId })
        })
          .then(response => response.text())
          .then(data => {
            alert(data);
            window.location.reload();
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }

      function buyItem(itemId) {
        fetch('/buy-item', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ itemId })
        })
          .then(response => response.text())
          .then(data => {
            alert(data);
            window.location.reload();
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
    </script>